/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
   .input-class {
      @apply block w-full rounded-lg border border-yellow-500 bg-slate-50 pl-3 text-sm text-slate-900 focus:border-blue-500 focus:ring-blue-500 dark:border-yellow-600 dark:bg-slate-500 dark:text-white dark:placeholder-gray-400 dark:hover:bg-slate-700 dark:focus:border-blue-500 dark:focus:ring-blue-500;
   }
   .width-class {
      @apply mx-auto w-full @2xl:w-[672px] @3xl:w-[768px] @4xl:w-[900px] @5xl:w-[920px] @6xl:w-[950px];
   }
   .submit {
      @apply mb-2 rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-blue-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-blue-300 dark:shadow-lg dark:shadow-blue-800/80 dark:focus:ring-blue-800;
   }
   .cancel {
      @apply mb-2 rounded-lg bg-gradient-to-r from-red-400 via-red-500 to-red-600 px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-red-500/50 hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-red-300 dark:shadow-lg dark:shadow-red-800/80 dark:focus:ring-red-800;
   }
   .label {
      @apply mb-1 block font-serif text-sm  text-slate-300;
   }
   .duedate-class {
      @apply border-4 border-red-800 text-white;
   }
   .size-btn {
      @apply h-[29px] @2xl:h-[30px] @3xl:h-[30px] @4xl:h-8 @5xl:h-8 @6xl:h-8;
   }
   .change-color {
      @apply bg-red-500;
   }
   .big {
      @apply bg-slate-300;
   }
   .hide-SmScr {
      @apply hidden  @2xl:block @3xl:block @4xl:block @5xl:block @6xl:block @7xl:block;
   }
   .hide-listBigScreen {
      @apply block @2xl:hidden @3xl:hidden @4xl:hidden @5xl:hidden @6xl:hidden @7xl:hidden;
   }

   .dateBtn-class {
      @apply m-1.5  bg-slate-800 py-1 text-slate-500 hover:bg-red-600 hover:text-black;
   }

   .text-size-class {
      @apply text-sm @3xl:text-xs;
   }
   .form-width {
      @apply w-[320px]  @2xl:w-[330px] @3xl:w-[340px] @4xl:w-[340px] @5xl:w-[345px] @6xl:w-[350px];
   }
}
@layer utilities {
   .content-auto {
      content-visibility: auto;
   }
}
